@model Users
@{
    ViewData["Title"] = "Change Password";
}


      <!--Main Body content -->
      <section class="pt-5 pb-5" id="page-heard">
        <div class="container">
          <h1 id="cause-head">Change Password</h1>
          <p class="image-center">A strong password contains a mix of numbers, letters, and symbols.</p>
        </div>
      </section>

      <section class="pt-5 pb-5">
        <div class="container">
          <form method="post" asp-action="changePassword" class="row g-3">
                
              <div class="col-md-3">
              <label class="form-label">Password</label>
              <input type="password" class="form-control" asp-for="UserPassword" id="confirmPass1" aria-describedby="validationServer083Feedback" required>
              <span id="StrengthDisp" class="badge displayBadge">Weak</span>
            </div>
            <div class="col-md-3" >
              <label  asp-for="UserPassword" class="form-label">Verify Password</label>
              <input type="password" asp-for="UserPassword" class="form-control" id="confirmPass2" aria-describedby="validationServer03Feedback" required>
              <span id="StrengthDisp2" class="badge displayBadge">Weak</span>
              @*<div  class="text-danger" id="showpass"></div>*@
            </div>

            @* Form Buttons*@
            <div class="col-12">
             <button id="signupBtn" class="btn btn-primary" type="submit">Update Profile</button>
              <a asp-controller="User" asp-action="settings" asp-route-id="@Model.Id" class="btn btn-danger fw-bold" type="submit">Back To Settings</a>
           </div>

           @*Hidden Fields*@
            <div class="col-md-4">
              <label  asp-for="Name" hidden class="form-label">Full Name</label>
              <input type="text" hidden class="form-control" asp-for="Name" id="validationServer02" value="@Model.Name" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label asp-for="UserEmail" hidden class="form-label">Email</label>
              <input type="email" class="form-control" hidden asp-for="UserEmail" value="@Model.UserEmail" required>
              <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="col-md-4">
              <label asp-for="UserCity"hidden class="form-label">City</label>
              <input type="text" hidden class="form-control" asp-for="UserCity" id="validationServer02" value="@Model.UserCity" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label asp-for="UserState" hidden class="form-label">State</label>
              <input type="text" hidden class="form-control" asp-for="UserState" id="validationServer02" value="@Model.UserState" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label asp-for="UserCountry" hidden class="form-label">Country</label>
              <input type="text" hidden class="form-control" asp-for="UserCountry" id="validationServer02" value="@Model.UserCountry" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="col-md-4">
              <label asp-for="UserName" hidden class="form-label">Username</label>
              <div class="input-group">
                <span class="input-group-text" hidden id="inputGroupPrepend3">@@</span>
                <input type="text" class="form-control" hidden asp-for="UserName" value="@Model.UserName" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" required><br />
                <span asp-validation-for="UserName" hidden class="text-danger"></span>
                <input type="text" class="form-control" hidden asp-for="EmailConfirm" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" value="@Model.EmailConfirm" hidden required>
@*                <input type="text" class="form-control" asp-for="UserPhoto" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" value="@Model.UserPhoto" hidden required>
*@                @*<input type="text" class="form-control" asp-for="RegDate" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" value="03/26/2022" hidden required>*@
                <div id="validationServerUsernameFeedback" class="invalid-feedback">
                  Please choose a username.
                </div>
              </div>
            </div>
            <div class="col-md-8 mb-3">
                  <label asp-for="AboutMe" hidden class="form-label">About Me</label>
                  <textarea asp-for="AboutMe" hidden class="form-control" id="exampleFormControlTextarea1" rows="3">@Model.AboutMe</textarea>
            </div>
            <div class="col-md-4">
              <label asp-for="UserPhone" hidden class="form-label">Phone Number</label>
              <input type="text" class="form-control" hidden placeholder="e.g +2348067952628" asp-for="UserPhone" id="validationServer02" value="@Model.UserPhone" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
             <div class="col-md-4" >
@*              <input type="password" class="form-control"  asp-for="UserPassword" id="validationServer02" value="@Model.UserPassword" hidden required>
*@              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
           
             
            
           <textarea asp-for="UserPhoto" id="CauseBannerBox" value="@Model.UserPhoto" hidden required></textarea>
          </form>
        </div>
      </section>
      <!--End of Main Body content -->
      